.andsign {
  font-family: la-bohemienne, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.hero-image-wd {
  padding-top: 600px;
  background: url("../../img/IMG_6811.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-info {
  margin-top: 175px;
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .details-info {
    margin-top: 0;
    padding-left: 0;
  }
}
