.alexaswedding,
.size310,
.snapchat,
.size350,
.memikelola {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .photo-gallery {
    justify-content: center;
  }
}
