.card {
  /* border-radius: 35% 35% 0 0; */
  border: none;
}

.card-title {
  margin-bottom: 0;
}

.weddingparty-img {
  overflow: hidden;
  object-fit: contain;
  max-width: 50%;
  padding-top: 10px;
}

.weddingparty-rows {
  padding-left: 250px;
  padding-right: 200px;
}

@media screen and (max-width: 1024px) {
  .weddingparty-rows {
    padding-left: 150px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 540px) {
  .weddingparty-rows {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .card-title {
    font-size: 24.5px;
  }
}
