.hero {
  height: auto;
  margin: 0 auto;
}

.hero-image {
  padding-top: 450px;
  background: url("../../img/proposalbw.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  text-align: center;
}
