/* #e1e1e4 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Bodoni Moda", serif;
}

h1,
h2 {
  font-family: la-bohemienne, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button,
.btn-black {
  border-radius: 0;
  font-family: "Bodoni Moda", serif;
  color: white;
  background-color: black;
}

button:hover,
.btn-black:hover {
  color: white;
  background-color: rgb(102, 102, 102);
}

::selection {
  color: white;
  background-color: black;
}
.horizontal-line {
  border-bottom: 2px solid #e1e1e4;
  width: 70%;
  margin: 0 auto;
}

.horizontal-line-sm {
  border-bottom: 1px solid #e1e1e4;
  width: 30%;
  margin: 0 auto;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.details {
  writing-mode: vertical-rl;
  transform: scale(-1);
}

.quote {
  font-size: 35px;
  font-family: la-bohemienne, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .details {
    writing-mode: horizontal-tb;
    transform: none;
    padding-top: 35px;
    font-size: 18px;
  }

  .quote {
    font-size: 23px;
    text-align: center;
  }

  .wedding-nav {
    text-align: center;
  }

  .details-info {
    margin-top: 0;
    padding-left: 0;
  }
}
